
h3 {
  margin-bottom: 10px;
}
#acerca {
  display: flex;
  justify-content: center;
  background: #f9f9f9;
}

.contenido-acerca {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 60px;
}

.sobre-mi {
  flex: 1;
  max-width: 600px;
}
.sobre-mi p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.bloque-tecnologias {
  flex: 1;
  margin-left: 100px;
}

.tecnologias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 300px;
}

.iconos {
  width: 50px;
  height: 50px;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;
}

.iconos:hover {
  transform: scale(1.1);
}

/* Colores oficiales en hover */
.iconos.html:hover {
  color: #e34f26;
}

.iconos.css:hover {
  color: rebeccapurple;
}

.iconos.js:hover {
  color: #f7df1e;
}

.iconos.react:hover {
  color: #61dafb;
}

.iconos.git:hover {
  color: #f1502f;
}

.iconos.php:hover {
  color: #8892be;
}

.iconos.mysql:hover {
  color: #00618a;
}

.iconos.wordpress:hover {
  color: #21759b;
}

.iconos.laravel:hover {
  color: #ff2d20;
}

.iconos.supabase:hover {
  color: #3ecf8e;
}


@media (max-width: 900px) {
  .contenido-acerca {
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
  }

  .bloque-tecnologias {
    margin-left: 0;
  }

  .tecnologias {
    justify-self: center;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .tecnologias {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 200px;
  }

  .iconos {
    width: 40px;
    height: 40px;
  }
}