#contacto {
  padding: 40px;
  text-align: center;
}

#contacto h2 {
  margin-top: 60px;
}

.form-contacto {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-contacto input,
.form-contacto textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-contacto button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  transition: all .15s ease-in-out;
  margin: 0;
  height: 50px;
  padding: 10px 30px;
  border: 2px solid;
  border-radius: 2px; 
  background-color: #ffffff52;
  cursor: pointer;
}

.form-contacto button:hover {
   background-color: 
  #32ab26;
  border-color: #32ab26;
  color: white;
}

.form-contacto button p{
  font-weight: bold;
}

.correo-link {
  position: relative;
  color: #4e4e4e;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 5px;
  &:hover{
    color: #32ab26;
    font-weight: bold;
  }
}

.correo-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #32ab26;
  transition: width 0.2s ease-in-out;
}

.correo-link:hover::after {
  width: 100%;
  color: #32ab26;
}
