#experiencia {
  text-align: center;
  background: #ffffff;
}

.experiencias {
  margin-top: 70px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; 
}

.experiencia-card {
  background-color: #fff;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.experiencia-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.experiencia-img {
  width: 255px;
  height: 255px;
  object-fit: cover;
}

.experiencia-info {
  padding: 15px;
}

.experiencia-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #32aa27;
}

.experiencia-info p {
  margin: 0;
  font-size: 14px;
  color: #4e4e4e;
  line-height: 1.4;
}
